.trip__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkcyan;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .trip__button:hover {
    background-color: grey;
  }
  