<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/src/client/views/logo.ico" type="image/x-icon"> <!-- Favicon not working and unsure why -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />    
    <title>Travel Planner</title>
</head>
<body>
    <div id="header">
        
        <h1><i class="fas fa-plane"></i> Travel Planner</h1>
    </div>
    <div id="form">
        <div>
            <h2>My trip to:</h2><input id="form__location" type="text" name="input" value="" placeholder="Enter Location">
        </div>
        <div>
            <h2>Departing:</h2><input id="form__depart" type="date" name="input" value="" placeholder="Enter departure date (MM/DD/YYYY)">
        </div>
        <div id="form__button--submit">
            <button class="trip__button" onclick="return Client.handleSubmit(event)">submit</button>
        </div>
    </div>

    <div class="trip">
            <div class="trip__image"></div>
            <div class="trip__header">
                <h2>My trip to: Paris, France </br> Departing: 02/12/2023</h2>
            </div>
            <div class="trip__buttons">
                <div class="trip__button--save">
                    <button class="trip__button" onclick="">save trip</button>
                </div>
                <div class="trip__button--remove">
                    <button class="trip__button" onclick="">remove trip</button>
                </div>
            </div>
            <div class="trip__days">
                <p>Paris, France is 220 days away.</p>
            </div>
            <div class="trip__weather">
                <p>Typical weather for this is:</p>
                <p>High - 46, Low - 35</p>
                <p>Mostly cloudy throughout the day</p>
            </div>
    </div>

    
    <div class="trip">
        <div class="trip__image"></div>
        <div class="trip__header">
            <h2>My trip to: Paris, France </br> Departing: 02/12/2023</h2>
        </div>
        <div class="trip__buttons">
            <div class="trip__button--save">
                <button class="trip__button" onclick="">save trip</button>
            </div>
            <div class="trip__button--remove">
                <button class="trip__button" onclick="">remove trip</button>
            </div>
        </div>
        <div class="trip__days">
            <p>Paris, France is 220 days away.</p>
        </div>
        <div class="trip__weather">
            <p>Typical weather for this is:</p>
            <p>High - 46, Low - 35</p>
            <p>Mostly cloudy throughout the day</p>
        </div>
    </div>
        <div class="trip">
            <div class="trip__image"></div>
            <div class="trip__header">
                <h2>My trip to: Paris, France </br> Departing: 02/12/2023</h2>
            </div>
            <div class="trip__buttons">
                <div class="trip__button--save">
                    <button class="trip__button" onclick="">save trip</button>
                </div>
                <div class="trip__button--remove">
                    <button class="trip__button" onclick="">remove trip</button>
                </div>
            </div>
            <div class="trip__days">
                <p>Paris, France is 220 days away.</p>
            </div>
            <div class="trip__weather">
                <p>Typical weather for this is:</p>
                <p>High - 46, Low - 35</p>
                <p>Mostly cloudy throughout the day</p>
            </div>
    </div>
</body>
</html>