// all font CSS rulesets go here
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1 {
    font-family: 'Koulen', cursive;
    font-size: 2.5em;
}

h2 {
    font-family: 'Koulen', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}